<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Register</title>
  </head>
  <body>
    {% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <div class="text-center margin-top p-2">
      <p>Create a new account!</p>
    </div>
    <div class="d-flex justify-content-center margin-top p-5">
      <form method="post" action="/register">
        <!-- 2 column grid layout with text inputs for the first and last names -->
<!--         <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" value="" name="first-name" id="" class="form-control" required/>
              <label class="form-label" for="first-name">First name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" value="" name="last-name" class="form-control" required/>
              <label class="form-label" for="last-name">Last name</label>
            </div>
          </div>
        </div>
 -->

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" value="" name="email" id="" class="form-control" required/>
          <label class="form-label" for="email">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" value="" name="password" id="" class="form-control" required/>
          <label class="form-label" for="password">Password</label>
        </div>

        <!-- Checkbox -->
<!--         <div class="form-check d-flex justify-content-center mb-4">
          <input
            class="form-check-input me-2"
            type="checkbox"
            value=""
            id="form2Example33"
            checked
          />
          <label class="form-check-label" for="form2Example33">
            Subscribe to our newsletter
          </label>
        </div> -->

        <!-- Submit button -->
        <input
          type="submit"
          name="create_account"
          value="Create Account"
          class="btn btn-primary btn-block mb-4"
        />
        </div>
        <!-- Login page button -->
        <div class="text-center">
          <p>
            <a href="/" name="login_page">Back to login page</a>
          </p>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
